body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #e2e8f0;
  text-align: center;
}

h1, h2 {
  margin-top: 20px;
  color: #38bdf8;
}

p {
  color: #94a3b8;
}

button {
  background: #38bdf8;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #0f172a;
  font-weight: bold;
}

#map {
  margin: 20px auto;
  width: 90%;
  height: 500px;
  border-radius: 15px;
}