/* BASE */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #e2e8f0;
  text-align: center;
  position: relative;
}

/* FONDO CON IMAGEN (VISIBLE) */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url("https://img.interempresas.net/fotos/1229355.jpeg") no-repeat center center/cover;

  opacity: 0.9; /* casi totalmente visible */
  z-index: -1;
}

/* TARJETA PARA TEXTO (para que sí se lea) */
.card {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);

  margin: 40px auto;
  padding: 20px;
  width: 85%;
  max-width: 400px;

  border-radius: 20px;
}

/* TITULOS */
h1, h2 {
  margin-top: 20px;
  color: #38bdf8;
}

/* TEXTO */
p {
  color: #e2e8f0;
}

/* BOTONES */
button {
  background: #38bdf8;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #0f172a;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* MAPA */
#map {
  margin: 20px auto;
  width: 90%;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}